{{ form.formset.management_form }}
<ul class="w3-ul w3-card-4 w3-white">
    {% for formset_form in form.formset %}
        <li class="w3-bar">
            <div class="w3-bar-item w3-form-bar-item" style="width: 100%;">
                {% if formset_form.fields.id.initial %}
                    <span class="w3-right">
                        <a href="{% url form.remove_url formset_form.fields.id.initial %}"
                           class="w3-button w3-haugepink">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </span>
                {% endif %}
                <div class="w3-form-container">
                    {{ formformset_form.non_field_errors }}
                    {% for field in formset_form %}
                        {{ field.errors }}
                        {% if field.widget_type == "checkbox" %}
                            <label class="switch">
                                {{ field }}
                                <span class="slider"></span>
                            </label>
                            {{ field.label_tag }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
