{% extends 'layout.html' %}

{% block content %}
    <div class="w3-row w3-display-container w3-bottombar">
        <a href="#">
            <div id="tablink_filter"
                 class="w3-col s3 l3 m3 tablink w3-hover-haugepink w3-padding active">
                Filter
            </div>
        </a>
        <!--
        <a href="#">
            <div id="tablink_all"
                 class="w3-col s3 l3 m3 tablink w3-hover-haugepink w3-padding">
                Alle Wordclouds
            </div>
        </a>
        -->
    </div>

    <div class="w3-container w3-card-4 w3-white" id="filter">
        {% if embed_link %}
            <h3>OBS Browser Source URL: {{ embed_link }}</h3>
            <hr>
        {% endif %}
        <div class="w3-margin-bottom">
            <div style="width: 50%; float: left; border-right: 2px solid black; height: 100%;">
                <h3 style="padding-left: 15px;">Noch nicht freigegeben</h3>
                <ul class="w3-ul" id="not-permitted">
                </ul>
            </div>
            <div style="width: 50%; float: left;">
                <h3 style="padding-left: 15px;">Freigegeben</h3>
                <ul class="w3-ul" id="permitted">
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        ws = new WebSocket("{{ ws_url }}");
        let permitted = document.querySelector("#permitted");
        let notPermitted = document.querySelector("#not-permitted");
        let session_key = "{{ session_key }}";
        ws.onmessage = function (event) {
            permitted.style.height = null;
            notPermitted.style.height = null;
            data = JSON.parse(event.data);
            console.log(data);
            permitted.querySelectorAll('*').forEach(n => n.remove());
            notPermitted.querySelectorAll('*').forEach(n => n.remove());
            for (word in data.words) {
                let arrow = document.createElement("i");
                let li = document.createElement("li");
                li.classList.add("w3-hover-haugepink-light");
                li.textContent = word;
                li.appendChild(arrow);

                if (data.permitted.includes(word)) {
                    appendWord(true, word);
                } else {
                    appendWord(false, word);
                }
            }

            height = Math.max(permitted.offsetHeight, notPermitted.offsetHeight);
            permitted.style.height = height + "px";
            notPermitted.style.height = height + "px";

        }

        function appendWord(isPermitted, word) {
            let list = isPermitted ? permitted : notPermitted;
            let arrow = isPermitted ? "left" : "right";
            let type = isPermitted ? "deny" : "permit";
            let li = document.createElement("li");

            li.classList.add("w3-hover-haugepink-light");
            li.classList.add("w3-display-container");
            li.innerHTML = word + "<div class=\"w3-display-" + arrow + " w3-margin-" + arrow + "\"><i class=\"fas fa-arrow-circle-" + arrow + " arrow\"></i></div>";
            list.appendChild(li);

            li.addEventListener("click", ev => {
                let word = ev.target.textContent;
                message = {"type": type, "word": word, "session_key": session_key};
                ws.send(JSON.stringify(message));
            });
        }


    </script>
{% endblock %}